<h1>Edit repository</h1>

<%= form_for(@repository) do |f| %>
  <%= render 'form', f:f %>

  <div class="actions">
    <button class="btn btn-primary" type="submit">Save</button>
    <%= link_to 'Show', @repository,  class: 'btn btn-default' %>
    <%= link_to 'Back', repositories_path, class: 'btn btn-default' %>
  </div>
<% end %>
