<h1>New <%= singular_table_name %></h1>

<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%%= render 'form', f:f %>

  <div class="actions">
      <button class="btn btn-primary" type="submit">Save</button>
      <%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-default' %>
  </div>
<%%= end %>
